@import url('https://fonts.google.com/specimen/Shadows+Into+Light?classification=Handwriting')('https://fonts.google.com/specimen/Roboto?stroke=Sans+Serif')
:root {
    --nav-heading-color: 89AAE6;
    --nav-paragraph-color: 426A5A; 
    --nav-hover-paragraph-color: 89AAE6;
    --nav-hover-heading-color: 7FB685;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}
h1 {
    font-size: 2rem;
    font-family: handwriting, sans-serif;
}
nav {
    text-align: right;
}
.navigation {
    display: flex;
    list-style: none;
}
.navigation li{
    flex: 1 1 100%;
}
.navigation a {
    display: block;
    color: #222;
    padding: 20px;
    text-decoration: none;
}
.navigation a:hover {
    color:#ccc ;
    font-weight: 700;
    text-decoration: underline;
}
body {
    padding: 10px
    max-width: 960px
}
main {
    padding: 50px
}
main img {
    width: 100px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 1px solid #222;
    text-align: center;
    padding: 30px
    display: block
}
aside {
    width: 15rem
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.2); /* 1 */
    padding: 5rem
    background-color: #eee;
    color: #333
    text-align: center;
}